:root {
  --clr-primary-4: hsl(0, 0%, 0%);
  --clr-primary-3: hsl(0, 0%, 27%);
  --clr-primary-2: hsl(0, 0%, 63%);
  --clr-primary-1: hsl(0, 0%, 100%);
  
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --fs-700: clamp(2rem, 5vw, 2.5rem);
  --fs-600: clamp(1.2rem, 3vw, 1.3rem);
  --fs-500: 1rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif; 
  align-items: flex-start;
}

img, picture {
  display: block;
  max-width: 100%;
}

ul { list-style: none; }

button { all: unset;  cursor: pointer; }

*:focus-visible { 
  outline-offset: 1rem;  
	outline: dotted;
}

a { text-decoration: none; }

button, a { font: inherit; color: inherit; }

button :where(img, svg) { pointer-events: none; }

.flex {
  display: flex;
  gap: 1rem;
}

.grid { display: grid; }

.bg-primary-4 { background-color: var(--clr-primary-4); } 
.bg-primary-3 { background-color: var(--clr-primary-3); } 
.bg-primary-2 { background-color: var(--clr-primary-2); } 
.bg-primary-1 { background-color: var(--clr-primary-1); } 

.text-primary-4 { color: var(--clr-primary-4); } 
.text-primary-3 { color: var(--clr-primary-3); } 
.text-primary-2 { color: var(--clr-primary-2); } 
.text-primary-1 { color: var(--clr-primary-1); } 

.fw-700 { font-weight: 700; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }

.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.letter-spacing-200 { letter-spacing: 15px; }
.letter-spacing-100 { letter-spacing: 10px; }

.text-center { text-align: center; }

:where(h1, h2, h3) + p , footer { line-height: 1.5625rem; }

.header-section.flex {
  padding: 3em 4em;
  align-items: center;
  gap: 3em;
  z-index: 5;
  position: relative;
}

.header-section:has(.mobileNavToggle[aria-expanded='true'])::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: var(--clr-primary-4);
  opacity: 0.5;
}

.header-section, .main-section { grid-area: 1 / 1 / 2 / 2; }

.navigation--nav-list.flex { 
  --list-color: var(--clr-primary-1);
  color: var(--list-color);
  gap: 2em; 
}

.mobileNavToggle {
  position: absolute;
  z-index: 50;
  padding: 1em;
  top: 1.9rem;
  left: 1.5rem;
  z-index: 5;
  display: none;
}

.navigation:has(.mobileNavToggle[aria-expanded='true']) > .navigation--nav-list.flex { translate: 0; }  

.navigation--nav-list__nav-item { position: relative; padding: .5em 0; }

.navigation--nav-list__nav-item::before {
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
  translate: -50%;
  left: 50%;
  bottom: 0;
  border-radius: 100px;
  transition: width 100ms ease-in;
  background-color: var(--list-color);
}

.navigation--nav-list__nav-item:where(:hover, :focus)::before { width: 15px; }

@media (width > 1000px) {
  .main-section.grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1.5fr 1fr;
  }
  
  .main-section--image-list { grid-area: 1 / 1 / 2 / 6; }
  
  .main-section--arrow-buttons { grid-area: 1 / 6 / 2 / 7 }
  
  .main-section--hero-content-1 { grid-area: 1 / 6 / 2 / 9; }
  
  .main-section--picture:nth-of-type(1) { grid-area: 2 / 1 / 3 / 3; }
  
  .main-section--hero-content-2 { grid-area: 2 / 3 / 3 / 7; }
  
  .main-section--picture:nth-of-type(2) { grid-area: 2 / 7 / 3 / 9; } 

  .main-section--picture :where(picture, img) {
    aspect-ratio: 2 / 1;
  }
  
  .main-section--image-list :where(picture, img) {
    aspect-ratio: 16 / 9.2;
  }
}

:where(.main-section--picture,  .main-section--image-list) :where(picture, img) {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main-section--hero-content-1.grid {
  align-content: start;
  padding: 5em 4em 6em 4em;
}

.hero-content-1--article-list__article,
.main-section--hero-content-2 { 
  gap: 2rem;
  justify-items: start;
}

.shop-btn {
  justify-content: space-between;
  align-items: center;
  transition: opacity 150ms ease-in;
}

.shop-btn img { transition: translate 200ms ease-out; }

.shop-btn:where(:hover, :focus) { opacity: 0.6; }

.shop-btn:focus-visible { outline: transparent; }

.shop-btn:where(:hover, :focus) img { translate: 10px; }

.main-section--arrow-buttons.grid {
  grid-template-columns: 1fr 1fr;
  z-index: 5;
  align-self: self-end;
  justify-self: stretch;
}

.main-section--arrow-buttons button {
  padding: 1.5em 1.98em;
  transition: opacity 200ms ease-in;
  opacity: 1;
}

.main-section--arrow-buttons button:where(:hover, :focus-visible) { 
  opacity: 0.8; 
  outline-color: transparent; 
}

.main-section--hero-content-2.grid {
  gap: 2em;
  align-content: center;
  padding-inline: clamp(2em, 3vw, 3em);
}

.main-section--image-list, .hero-content-1--article-list { gap: 0; }

:where(.main-section--image-list, .hero-content-1--article-list) li { 
  transition: opacity 400ms ease-in-out 10ms; 
}

:where(.main-section--image-list, .hero-content-1--article-list) li[aria-hidden="false"] { 
  opacity: 1; 
  visibility: visible;
}

:where(.main-section--image-list, .hero-content-1--article-list) li[aria-hidden="true"] { 
  opacity: 0; 
  visibility: hidden;
}

:where(.main-section--image-list, .hero-content-1--article-list) li { grid-column: 1 / 1; grid-row: 1 / 1; }

.footer-section { padding: 1em 0; }

@media (width < 1100px) {
  .mobileNavToggle {
    display: block !important;
  }

  .header-section.flex {
    justify-content: center;
  }

  .navigation--nav-list.flex {
    position: absolute;
    left: 0;
    top: 0;
    translate: 0 -100vh;
    transition: all 250ms ease;

    justify-content: flex-end;
    gap: .8em;
    width: 100%;
    
    --list-color: var(--clr-primary-4);
    background-color: var(--clr-primary-1);
    font-size: 1.2rem;
    padding: 2em;
    z-index: 3;
  }

  .main-section--arrow-buttons, .main-section--image-list { 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: auto;
  }
  
  .main-section--arrow-buttons.grid {
    justify-self: baseline;
    margin-left: auto;
  } 
}













